# File: .github/workflows/deploy_ios.yml

name: iOS App Store Deployment (React Native) # Workflow name

on:
  push:
    # This workflow runs only when tags in the v*.*.* format are pushed to the main branch
    tags:
      - 'v*.*.*' 
  workflow_dispatch: # Enables manual triggering from the GitHub interface

jobs:
  deploy:
    runs-on: macos-latest # Environment providing the latest Xcode/SDK for Apple build
    environment: production 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Ruby and Node.js Setup (for Fastlane and React Native)
     - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          # BURASI '3.3' OLMALI
          ruby-version: '3.3' 
          bundler-cache: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          # Targeting your specific Node version
          node-version: '20.19.5' 

      # Install Project Dependencies
      - name: Install Dependencies (npm/yarn)
        # We include the flag to resolve peer dependency issues
        run: npm install --legacy-peer-deps 

      - name: Install iOS Pods
        run: cd ios && pod install
        
      # Writes the P8 API Key content to a temporary file for security
      - name: Create P8 Key File
        run: |
          echo "${{ secrets.P8_KEY_FILE_CONTENT }}" > AuthKey.p8
          
      # Upload to App Store using Fastlane
      - name: Upload to App Store via Fastlane
        run: bundle exec fastlane deploy_appstore
        env:
          # --- Apple API and Fastlane Variables (Authentication) ---
          API_KEY_PATH: ${{ github.workspace }}/AuthKey.p8
          APP_STORE_CONNECT_KEY_IDENTIFIER: ${{ secrets.APP_STORE_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_ISSUER_ID }}
          FASTLANE_ITC_TEAM_ID: "${{ secrets.FASTLANE_ITC_TEAM_ID }}" 
          FASTLANE_TEAM_ID: "${{ secrets.FASTLANE_TEAM_ID }}"
          FASTLANE_APPLE_ID: "${{ secrets.FASTLANE_APPLE_ID }}"
          FASTLANE_PASSWORD: "${{ secrets.FASTLANE_PASSWORD }}"
          
          # --- In-App API Key (Google Maps) ---
          MAPS_API_KEY: "${{ secrets.MAPS_API_KEY }}"
          
      - name: Post-Job Cleanup
        if: always()
        run: rm AuthKey.p8 # Deletes the key for security reasons